body {
    font-family: Arial, sans-serif;
    background-color: white !important;
}

.dropdown {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-title {
    background: #f4f4f4;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
}

.dropdown-content.active {
    display: block;
}